@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<a href="@Url.Action("highcharts_combinations_dualaxes_change", "Home")" target="_blank">水位与降水量比较图</a><br /><br />
<a href="@Url.Action("highcharts_line_basic", "Home")" target="_blank">窦店镇降雨埋深过程线</a><br /><br />
<a href="@Url.Action("highcharts_combinations_dualaxes", "Home")" target="_blank">区域分析</a><br /><br />
<a href="@Url.Action("highcharts_column_basic", "Home")" target="_blank">潮白河顺义区降雨量柱形图</a><br /><br />
<a href="@Url.Action("highcharts_column_basic_moredata", "Home")" target="_blank">各市2000年与2001年1月降雨量对比柱形图</a><br /><br />
<a href="@Url.Action("highcharts_line_basic_y_opposite", "Home")" target="_blank">平均埋深动态曲线图</a><br /><br />
<a href="@Url.Action("highcharts_line_basic_y_opposite_moredata", "Home")" target="_blank">2008年和2009年地下水埋深对比示意图</a><br /><br />
<a href="@Url.Action("highcharts_line_labels", "Home")" target="_blank">近两年丰台区菜户营地下水水位变化图</a><br /><br />
