@{
    ViewBag.Title = "Show";
}

<h2></h2>

<html>
<head>
    <title>  </title>
</head>
<body>

  
    <div>
       
        <div style="height:auto">
            <div style="border:1px solid black;width:200px;float:left;height:auto">
                <ul style="font-size:12px; list-style:none;">
                    <li style="margin-bottom:15px"><a href="@Url.Action("Index", "Home")" >1</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test2", "Home")">2</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test3", "Home")">3</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test4", "Home")">4</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test5", "Home")">5</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test6", "Home")">XXX地下水水位过程线</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test7", "Home")">XXX地下水水位时间序列图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test8", "Home")">XXX地下水埋深过程线 折线图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test9", "Home")">XXX地下水埋深时间序列图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test10", "Home")">XX年至XX年XXX地下水埋深过程线</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test11", "Home")">XX年至XX年XXX地下水埋深比较图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test12", "Home")">XX年至XX年XXX地下水水位过程线</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test13", "Home")">XX年至XX年XXX地下水水位比较图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test14", "Home")">地下水开采量时间序列图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test15", "Home")">地下水开采量比较图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test16", "Home")">比例分配图1</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test17", "Home")">比例分配图2</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test18", "Home")">降水量时间序列图1</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test19", "Home")">降水量时间序列图2</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test20", "Home")">XX年与XX年行政分区降水量比较图</a></li>
                    <li style="margin-bottom:15px"><a href="@Url.Action("Test21", "Home")">分时段蓄变量分析图</a></li>
                </ul>
            </div>
            <div style="border:0px solid black;float:left;height:auto;margin:10px 50px">
                @RenderBody()
            </div>
        </div>

    </div>


</body>
</html>
